@font-face {
  font-family: 'roboto-condensed--light-italic';
  src: url('fonts/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
       url('fonts/robotocondensed-lightitalic-webfont.woff') format('woff'),
       url('fonts/robotocondensed-lightitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
